<div class="row">
    <div class="col-xl-9">
        <agm-map [latitude] = '19.3868826' [longitude] = '-99.1765878' [zoom] = 11>
            <agm-marker [latitude]="19.3868826" [longitude]="-99.1765878" [iconUrl]='markerIconUrl()' (markerClick) = 'this.marker_click(1)'></agm-marker>
        </agm-map>
    </div>
    
    <div class="col-md-3 shadow p-3 mb-5 rounded" style="background-color:#ccd8d8;">Chat
        <div class="row shadow bg-white p-3 mb-2 rounded">
            <div class="row upper_row">
                <div class="col-sm-1"><img class="user_img" src="./assets/juan.png"></div>
                <div class="col-sm-3"></div>
                <div class="col-sm-7 text-centered">Juan Pérez</div>
            </div>
            <div class="row lower_row p-3 ">Me está secuestrando taxi con placa A-234-A</div>
        </div>
        
        <div class="row md-3 shadow bg-white p-4 mb-2 rounded">
                <div class="row upper_row">Armando Torres</div>
                <div class="row lower_row">Acabo de tropezar y rompí mi pierna</div>
        </div>

        <div class="row md-3 shadow bg-white p-4 mb-2 rounded">
                <div class="row upper_row">Ana Peralta</div>
                <div class="row lower_row">Mi padre está teniendo un infarto</div>
        </div>
    </div>

</div>
