.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #4a7284;
    padding: 10px;
    font-size: 13px;
    position: relative;
    color: white;
}
.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #e88d67;
    padding: 10px;
    font-size: 13px;
    position: relative;
    color: white;
}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: #404353;
    font-size: 10px;
}
.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: #404353;
    font-size: 10px;
}